<!DOCTYPE html>
<html>
<head>
  <title>EshaYammer</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "yammy", :media => "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
